# Dependencies
node_modules/

# Build outputs
dist/
build/

# Config files
*.config.js
*.config.ts

# Logs
*.log

# Cache
.cache/
.temp/
.tmp/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Git
.git/