* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#app {
  width: 100%;
  min-height: 100vh;
  background-color: var(--md-sys-color-background);
}
